/* Mobile Styles */
@media (max-width: 1050px) {
    .navbar {
        gap: .2em;
        justify-content: space-around;
        padding: .2em;
        z-index: 1000;
        font-size: .7rem;
    }
    
    .logo a {
        font-size: 1rem;
        color: white;
        text-decoration: none;
    }

    .logo select {
        width: 70px;
        font-size: .60rem;
        border-radius: 10px;
        background: lightseagreen   
    }
    .search-bar {
        min-width: 35px;
        max-width: 40px;
    }
    .search-bar input{
        font-size: .8rem;
    }
    .themer, .themer button{
        font-size: .1rem;   
    }
    .site-nav {
        display: none;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: black;
        flex-direction: column;
        padding: 1em 0;
    }

    .site-nav.active {
        display: flex;
        z-index:1001
    }

    .site-nav ul {
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }

    .search-bar {
        margin-right: 10px;
        width: 100px;
    }

    .logout-btn {
        font-size: .8rem;
        padding: 1px;
    }

    .themer {
        font-size: .3rem;
        margin-left: 10px;
    }
}