.navbar {
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    background: black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 1em;
    box-sizing: border-box;
    z-index: 1000;
}
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 999;
}
.logo a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}
.themer {
    font-size: .7rem;
}
.site-nav {
    display: flex;
    gap: 1em;
}
.site-nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.1em;
    transition: color 0.3s background-color 0.3s;
}
.site-nav ul li a:hover {
    color: #00bcd4;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.search-bar {
    display: flex;
    align-items: center;
}
.user-nav {
    display: flex;
    padding: 0.1em .3em;
    border-radius: 10px;
}
.user-nav a {
    color: white;
    text-decoration: none;
    margin-right: .5em;
}
.user-nav button {
    color: white;
    background: #00bcd4;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background 0.3s;
}
.user-nav button:hover {
    background: #008ba3;
}
.hamburger {
    display: none;
    cursor: pointer;
    color: white;
}
.logout-btn {
    display: flex;
    font-size: .8rem;
    padding: 5px;
    gap: 2px;
    background-color: #5C469C;
    border-radius: 10px;
}
.logout-btn button {
    padding: 3px;
}