
*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  scrollbar-width:thin;
}
#root {
  margin: 0;
  text-align: center;
}
li:hover, h1:hover, h2:hover, h3:hover, h4:hover,
h5:hover, p:hover, .business-des:hover{
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.126);
  border-radius: 10px;
}
.App{
  min-width:100%;
  min-height:100%;
  padding-top: .5em;
}
.main-wrapper{
  display: flex;
  flex-direction: column;
  min-width: 100%;

  align-items: center;
  gap: .5em;
}
.wrapper{
  margin-top: 75px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
  min-width:97vw;
}
.toastifier{
  margin-top: 50px;
}
table td, table th{
  border: 1px solid snow;
  padding: 3px 10px;
  text-align: left;
}

h4 {
  grid-column: span 2;
  text-align: center;
  text-decoration: underline;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
button {
  touch-action: manipulation !important;
}
input {
  width: 100%;
  max-width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}
input:focus {
  border-color: #007bff;
}
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    padding: 1.5em;
  }

  h1{font-size: 1.75rem;}
  h2{font-size: 1.25rem;}
  
}