
*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  scrollbar-width:thin;
}
#root {
  margin: 0;
  text-align: center;
  padding: .2em;

  
}

.themer{
  padding: .5em;
  height: 25px;
  display: flex;
  flex-direction: column;
  font-size: .7rem;
}

li:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover, p:hover, .business-des:hover{
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.126);
  border-radius: 10px;
}
.App{
  min-width:100%;
  min-height:100%;
  padding-top: .5em;
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  gap: .5em;

}

.wrapper{
  margin-top: 75px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
  width: 95vw;
}

.toastifier{
  margin-top: 50px;
}


table td, table th{
  border: 1px solid snow;
  padding: 3px 10px;
  text-align: left;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
  overflow-y: auto;
  padding: 1em 0;
}

.modal-content {
  background: rgb(205, 205, 205);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-width: 50%;
  height: 50vh;
  max-height: 80vh;

  overflow-y: auto;
  position: relative;
}

/* Form styles */

.card-form{
  width:50%;
}


.form-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.form-wrapper div {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.form-wrapper label,
.form-wrapper input {
  align-self: center;
}

form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.126);
    border-radius: 10px;
    padding: 5px;
}

h4 {
  grid-column: span 2;
  text-align: center;
  text-decoration: underline;
}

/* Labels and Inputs */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

button {
  touch-action: manipulation !important;
}

input {
  width: 100%;
  max-width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

input:focus {
  border-color: #007bff;
}

button[type="submit"] {
  grid-column: span 2;
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button[type="submit"]:hover {
  background: #0056b3;
}

button[type="submit"]:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    padding: 1.5em;
  }

  form {
    grid-template-columns: 1fr;
  }
}