:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-bg: #1a1a1a;
  --secondary-bg: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --link-color: #646cff;
  --link-hover: #535bf2;
  --button-bg: #5C469C;
  --button-border-hover: #646cff;
  --border-radius: 8px;
  --focus-outline: -webkit-focus-ring-color;
  color: var(--text-color);
  background-color: var(--primary-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

a:focus {
  outline: 4px auto var(--focus-outline);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  background-color: var(--primary-bg);
}

td {
  max-width: 150px;
  scrollbar-width: thin;
  overflow-y: hidden;
  overflow-x: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button-border-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--focus-outline);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-bg: #ffffff;
    --text-color: #213547;
    --link-color: #747bff;
    --button-bg: #f9f9f9;
  }
}